@charset "UTF-8";

#botao-menu {
    display: none;
}
label[for='botao-menu']{
    cursor: pointer;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 5px;
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
}
#menu{
    display: flex;
    margin-top: 10px;
}
a{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: black; 
    color: white; 
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 5px;
}
a:hover{
    background-color: white;
    outline: 1px solid black;
    color: black;
}
@media (max-width: 535px) {
    #menu{
        transition: all .4s;
        margin-left: -200%;
        flex-direction: column;
    }
    label[for='botao-menu']{
        display: block;
    }
    #botao-menu:checked ~ #menu{
        margin-left: 0px;
    }
}